.country-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
    width: 100%;
    padding: 5px 0px 5px 15px;

    .country-name{
        @media only screen and (max-width: 1300px) {
            max-width: 150px;
            overflow: hidden;
        }
    }
    
    &:hover{
        background-color: #ffcb3c;
    }
    
    button{
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;
        border: none;
        outline: none;
    }
}

.sidebar-appear{
    @media only screen and (max-width:680px) {
        display: block;
        position: absolute;
        height: 1250px;
    }
}
.sidebar-disappear{   
    @media only screen and (max-width:680px) {
        display: none;
    }
}

.notify-error{
    opacity: 0;

    font-size: 20px;
    background-color: red;
    font-style: italic;
    position: absolute;
    padding: 10px;
    border: 2px solid black;

    transition: 1s;
}