.navbar {
  background-color: #120136;
  list-style-type: none;
  margin: 0px;
  padding: 3px 0px;
  overflow: hidden;
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 1150px) {
    .navbar {
      justify-content: center; } }
  @media only screen and (max-width: 500px) {
    .navbar {
      width: 100%;
      padding: 0px;
      height: 60px; } }
  .navbar__list-item--sidebar-toggle {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer; }
    .navbar__list-item--sidebar-toggle__img {
      width: 40px;
      margin: 10px; }
    @media only screen and (min-width: 680px) {
      .navbar__list-item--sidebar-toggle {
        display: none; } }
  .navbar__sections {
    display: flex;
    justify-content: center; }
    .navbar__sections__list-item {
      display: flex;
      align-items: center; }
      .navbar__sections__list-item__link {
        height: 100%;
        color: white;
        text-align: center;
        padding: 0px 16px;
        text-decoration: none;
        font-size: 22px;
        color: #08d9d6;
        transition: 0.4s;
        display: flex;
        align-items: center; }
        @media only screen and (max-width: 500px) {
          .navbar__sections__list-item__link {
            font-size: 20px;
            padding: 0px 10px; } }
        @media only screen and (max-width: 350px) {
          .navbar__sections__list-item__link {
            font-size: 18px;
            padding: 0px 8px; } }
        .navbar__sections__list-item__link:hover {
          color: #fcbf1e;
          padding-bottom: 8px; }
  .navbar__list-item__link {
    display: block; }
  .navbar__list-item--logo {
    height: 54px;
    display: block; }
    @media only screen and (min-width: 1150px) {
      .navbar__list-item--logo {
        margin: 0px  20px; } }
    @media only screen and (max-width: 680px) {
      .navbar__list-item--logo {
        display: none; } }
