.wrapper {
  display: flex; }
  .wrapper__sidebar {
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-flex;
    flex-direction: column;
    padding: 10px 10px 10px 0px;
    font-size: 20px;
    background-color: #fcbf1e;
    max-height: 1000px;
    min-width: 400px; }
    @media only screen and (max-width: 1820px) {
      .wrapper__sidebar {
        max-height: 1500px; } }
    @media only screen and (max-width: 1150px) {
      .wrapper__sidebar {
        min-width: 300px;
        max-height: 1350px; } }
    @media only screen and (max-width: 680px) {
      .wrapper__sidebar {
        display: none; } }
    .wrapper__sidebar__favourites, .wrapper__sidebar__all-countries {
      margin-bottom: 20px; }
      .wrapper__sidebar__favourites__header, .wrapper__sidebar__all-countries__header {
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1.5px;
        word-spacing: 8px;
        text-align: center;
        margin: 8px; }
      .wrapper__sidebar__favourites__list__loader, .wrapper__sidebar__all-countries__list__loader {
        border: 8px solid black;
        border-radius: 50%;
        border-top: 8px solid #0170d1;
        border-bottom: 8px solid #0170d1;
        width: 80px;
        height: 80px;
        animation: spin 2s linear infinite;
        margin: 50px auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
    .wrapper__sidebar__all-countries__search {
      display: flex;
      justify-content: space-around;
      margin: 15px 0px; }
      .wrapper__sidebar__all-countries__search__input, .wrapper__sidebar__all-countries__search__submit {
        padding: 0px 5px;
        font-size: 18px;
        font-style: italic; }
      .wrapper__sidebar__all-countries__search__input {
        padding: 5px; }
        @media only screen and (max-width: 680px) {
          .wrapper__sidebar__all-countries__search__input {
            margin-right: 10px; } }
      .wrapper__sidebar__all-countries__search__submit {
        background-color: #0170d1;
        color: white;
        transition: 0.3s;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 0px 10px; }
        .wrapper__sidebar__all-countries__search__submit:hover {
          color: #fcbf1e; }
